.signup form {
  margin-bottom: 32px;
}

.signup form button {
  margin-top: 20px;
}

.signup form .invalid {
    border-bottom: 1px solid #FF6153;
  }

.signup form .error-message .item-inner {
    border-bottom: 0 !important;
  }

.iconlogin {
  font-size: 120px;
  color: #387ef5;
}