<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
      <button ion-button small clear icon-end icon-only (click)="logOut()">
        <ion-icon name='md-log-out'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <h2>Bienvenido {{user.email}}</h2>

  <a *ngIf=" this.user.email != 'director@isciolab.com'" ion-button full round href="#/call-dialler" >Llamar cliente</a>

  <a *ngIf=" this.user.email != 'director@isciolab.com'" ion-button full round href="#/experience">Registrar experiencia de reunion</a>


</ion-content>


