<!--
  Generated template for the CallDiallerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <a ion-button small clear icon-end icon-only href="#/">
        <ion-icon name='md-home'></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>Llamar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-item>

      <ion-label stacked>Número de teléfono</ion-label>
      <ion-input required=""  type="tel" [(ngModel)]="phoneNumber"></ion-input>


      <button  type="button" default color="secondary" ion-button icon-only (click)="llamar()" item-end="" >
        <ion-icon name="call"></ion-icon>
      </button>

  </ion-item>


  <ion-list>
    <ion-item *ngFor="let contacto of listaContactos">
      <ion-avatar item-start>
        <img [src]="contacto.photos[0].value ">
      </ion-avatar>
      <h2>{{contacto.displayName }}</h2>
      <p>{{contacto.phoneNumbers[0].type}} - Numero: {{contacto.phoneNumbers[0].value}}</p>
      <ion-icon color="secondary" (click)="selectContact(contacto.phoneNumbers[0].value)" item-end="" name="call"
                role="img"
                class="icon item-icon" aria-label="call"></ion-icon>
    </ion-item>


  </ion-list>


  <!--<button ion-button primary (click)="stopRecord()" *ngIf="recording">
    <ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record
  </button>-->
</ion-content>
